{% load staticfiles %}
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="description" content="登入">
        <meta name="author" content="Blink">
        
        <title>CG Download 登入</title>
        
        <script src="{% static 'offDown/js/jquery.js' %}"></script>
        <script src="{% static 'offDown/js/jquery.md5.js' %}"></script>
        <link href="{% static 'offDown/css/bootstrap.css' %}" rel="stylesheet" >
        <link href="{% static 'offDown/css/signin.css' %}" rel="stylesheet" >
        
 
 
        <script>
            $().ready(function(){
                $("form").submit(function(){
                    var v=$.md5($("#pre-password").val());
                    $("#password").val(v);
                    $("#pre-password").attr("disabled", "true");
                    return true;
                });
            });
    </script>
    </head>
    
    <body>

        <div class="container">
	    <form class="form-signin">
                <h2 class="form-signin-heading">请先登入</h2>
                <a class="btn btn-lg btn-primary btn-block" href="{% url 'offDown:github_oauth_authorize' %}">使用 GitHub OAuth 登入</a>
				<p style="margin-top: 15px;">鸣谢计算机系学生科协网络部 Download9 <a href="https://git.net9.org/sast/Download9">开源项目</a>，本<a href="https://github.com/yuantailing/download9/tree/cg">修改版本</a>由 THUCG 运行。若你有 Account9 帐号，可使用<a href="https://download.net9.org/">科协新版 Download9</a></p>
            </form>
        </div> <!-- /container -->
    </body>
</html>
