{% load staticfiles %}
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="description" content="登入">
        <meta name="author" content="Blink">
        
        <title>Download9登入</title>
        
        <script src="{% static 'offDown/js/jquery.js' %}"></script>
        <script src="{% static 'offDown/js/jquery.md5.js' %}"></script>
        <link href="{% static 'offDown/css/bootstrap.css' %}" rel="stylesheet" >
        <link href="{% static 'offDown/css/signin.css' %}" rel="stylesheet" >
        
 
 
        <script>
            $().ready(function(){
                $("form").submit(function(){
                    var v=$.md5($("#pre-password").val());
                    $("#password").val(v);
                    $("#pre-password").attr("disabled", "true");
                    return true;
                });
            });
    </script>
    </head>
    
    <body>

        <div class="container">
            <form class="form-signin" action="{% url 'offDown:login' %}" method="POST">
                {% csrf_token %}
                <h2 class="form-signin-heading">请先登入</h2>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <input type="username" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
                <label for="username" class="sr-only">Username</label>
                <input type="password" name="pre-password" id="pre-password" class="form-control" placeholder="Password" required>
                <label for="pre-password" class="sr-only">Password</label>
                <input type="hidden" name="password" id="password">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="remember" value="1"> 记住我
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">登入</button>
            </form>
            <div class="form-signin">
                <a style = "text-decoration: none"href="{% url 'offDown:regist' %}"> <button class="btn btn-warning buttom-reg-left">注册</button></a>
                <a style = "text-decoration: none"href="https://accounts.net9.org/api/authorize?client_id=dIKjGHUcbe8mu2TRU5V0xu4XeQk&redirect_uri=http://download.net9.org/oauth_redirect"> <button class="btn btn-success buttom-reg-right">使用Accounts9登入</button></a>
            </div>
        </div> <!-- /container -->
    </body>
</html>
