{% load staticfiles %}

<html lang="zh-CN">
  {% include 'offDown/head.html' %}
  
  <body role="document">
  {% include 'offDown/nav.html' %}
  
  <div class="container">
    <h2>新建BT任务</h2>
    {% if error_message %}
    <h2>{{ error_message }}</h2>
    {% endif %}
    <form enctype="multipart/form-data" action="{% url 'offDown:newTorrent' %}" method="POST">
      {% csrf_token %}
      <input class="form-control" name="name" type="text" placeholder="任务名(用于区别任务的标识)" style="width: 300px"> 
      <label for="inputfile">请选择种子</label>
      <input type="file" name='torrentfile' id="inputfile">
      <button style="margin-top: 10px" type="submit" class="btn btn-primary btn-lg ">确定</button>
    </form>
  {% include 'offDown/jq.html' %}
  </body>
</html>